/* General Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #eeeded;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Main Container */
main {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 850px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Form Styling */
form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

form input[type='text'] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  height: 40px;
}

form button {
  background-color: #5cb85c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  height: 40px;
  margin-left: 10px;
}

form button:hover {
  background-color: #4cae4c;
}

/* Button Container */
.button-container {
  text-align: center;
  margin-bottom: 20px;
}

.button-container button {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #e0e0e0;
}

/* Active Tab Styling */
.button-container button.active-tab {
  background-color: #0275d8;
  color: #fff;
  border: none;
}

.button-container button.active-tab:hover {
  background-color: #025aa5;
}

/* Task Container */
.task-container {
  list-style: none;
  padding: 0;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-left: 5px solid #5cb85c;
}

.task p {
  margin: 0;
  flex: 1;
  font-size: 16px;
  color: #333;
}

.task.completed p {
  text-decoration: line-through;
  color: #999;
}

.task.completed {
  border-left: 5px solid #d9534f;
}

.task button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
  color: #333;
  transition: color 0.3s ease;
}

.task button.edit-btn:hover {
  color: #0275d8;
}

.task button.complete-btn:hover {
  color: #5cb85c;
}

.task button.remove-btn:hover {
  color: #d9534f;
}

/* Responsive Design */
@media (max-width: 600px) {
  main {
    padding: 15px;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    overflow-y: scroll;
  }

  form {
    flex-direction: column;
  }

  form input[type='text'] {
    margin-right: 0;
    margin-bottom: 10px;
  }

  form button {
    padding: 10px;
    font-size: 14px;
  }

  .button-container button {
    padding: 10px;
    font-size: 14px;
    margin: 5px 0;
  }

  .task {
    flex-direction: column;
    align-items: flex-start;
  }

  .task button {
    font-size: 16px;
  }
}
